[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-rtd-theme = "*"
pytest = "*"
build = "*"
python-cowsay = "*"
flake8 = "*"
pydocstyle = "*"
doit = "*"

[dev-packages]

[requires]
python_version = "3.12"
